<!DOCTYPE html>
<html lang="en">
  <%-include ('./partials/head.ejs') %> 
<body id="body">
<%-include('./partials/header.ejs')  %> 
<div class="container">

<div class="card-columns row row-cols-3">
  <% if (Accesory.length) { %>
   
  <% } %>
  <% for( let index = 0; index < array.length; index++ ) { %>
  
  <% } %>
<div class="card col">
  <a href="/itemdetail"><img class="card-img-top item" src="img/3.jpg" alt="Card image cap"></a>
  <div class="card-body item">
    <h5 class="card-title item-name"> <a href="/itemdetail">'itemName'</a></h5>
    <p class="card-text item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel quibusdam labore quod minus accusantium magni impedit ut. Suscipit, architecto mollitia.</p>
    <p class="card-text item-cost">itemCost</p>
  </div>
</div>
<div class="card col">
  <img class="card-img-top item" src="img/3.jpg" alt="Card image cap">
  <div class="card-body item">
    <h5 class="card-title item-name">'moderately\'</h5>
    <p class="card-text item-description">itemDescription Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea rerum ipsam distinctio dolorum temporibus veniam sapiente alias, autem deserunt sequi.</p>
    <p class="card-text item-cost">itemCost</p>
  </div>
</div>
<div class="card col">
  <img class="card-img-top item" src="img/3.jpg" alt="Card image cap">
  <div class="card-body item">
    <h5 class="card-title item-name">'itemName'</h5>
    <p class="card-text item-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta nobis tenetur ab ex atque, laudantium mollitia consequuntur. Tenetur, in voluptates.</p>
    <p class="card-text item-cost">itemCost</p>
    <p class="card-text item-fav"><i class="fa fa-star" aria-hidden="true"></i>Add to favorites</p>
  </div>
</div>
<div class="card col">
  <img class="card-img-top item" src="img/3.jpg" alt="Card image cap">
  <div class="card-body item">
    <h5 class="card-title item-name">'itemName'</h5>
    <p class="card-text item-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta nobis tenetur ab ex atque, laudantium mollitia consequuntur. Tenetur, in voluptates.</p>
    <p class="card-text item-cost">itemCost</p>
  </div>
</div>
<div class="card col">
  <img class="card-img-top item" src="img/3.jpg" alt="Card image cap">
  <div class="card-body item">
    <h5 class="card-title item-name">'itemName'</h5>
    <p class="card-text item-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta nobis tenetur ab ex atque, laudantium mollitia consequuntur. Tenetur, in voluptates.</p>
    <p class="card-text item-cost">itemCost</p>
  </div>
</div>
</div>

</div>

<%-include('./partials/footer.ejs') %>
</body>
</html>